LORE_WEB_GRPC_TARGET=127.0.0.1:41337
LORE_WEB_HTTP_BASE=http://127.0.0.1:41339
LORE_WEB_GRPC_TLS=insecure
LORE_WEB_GRPC_CA=
LORE_WEB_AUTH_MODE=none
LORE_WEB_NOTIFICATION_STREAM=
AUTH_SECRET=
AUTH_URL=http://127.0.0.1:3000
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://127.0.0.1:3000
AUTH_OIDC_ISSUER=
AUTH_OIDC_CLIENT_ID=
AUTH_OIDC_CLIENT_SECRET=
